*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  margin: 40px auto;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
  object-fit: contain;
}
.pokemon-card {
  position: relative;
  padding: 32px;
  width: 600px;
  box-shadow: 0px 0px 6px -1px rgb(0 0 0 / 60%);
}
.pokemon-card svg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.pokemon-card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pokemon-card__header h1 {
  text-transform: uppercase;
  font-size: 42px;
  margin-top: 16px;
}
.pokemon-card__features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 24px 0;
}
.feature p {
  font-size: 22px;
  text-align: center;
}
.feature h3 {
  font-size: 38px;
}
.pokemon-card__features .main-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-card__features .fire {
  border: 2px solid #000;
  border-radius: 50px;
  padding: 6px;
  display: flex;
}
.fire img {
  width: 80px;
}
.abilities {
  margin-top: 24px;
}
